

<div id="modalCustomer" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create New Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="formCustomer" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12 mb-3" style="display:none">
                            <input type="text" id="Id" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Title </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Title" name="Title" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> FirstName </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="FirstName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Surname </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Surname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Address1 </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Address1" name="Address1" placeholder="Address1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Address2 </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Address2" name="Address2" placeholder="Address2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Address3 </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Address3" name="Address3" placeholder="Address3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Address4 </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="Address4" name="Address4" placeholder="Address4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> PostCode </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="PostCode" name="PostCode" placeholder="PostCode" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Telephone </label>
                        <div class="col-md-12">
                            <input type="tel" class="form-control" id="Telephone" name="Telephone" placeholder="Telephone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"> Age </label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="Age" name="Age" placeholder="Age" required>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info waves-effect" id="saveBtn">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>